# Frontend
frontend/.next/
frontend/node_modules/
frontend/package-lock.json
frontend/conv-log.txt

# Backend
backend/__pycache__/
backend/.env
backend/error.log
backend/api-log.txt
backend/main_v2.py
backend/main_original.py
backend/models/__pycache__/
backend/services/__pycache__/
backend/utils/__pycache__/
backend/middleware/__pycache__/
backend/tests/__pycache__/
backend/test/__pycache__/

# Jenkins
Jenkins/

# Project References
References/
