frontend/.next/
frontend/node_modules/
frontend/package-lock.json
backend/__pycache__/
backend/.env
backend/error.log
frontend/conv-log.txt
backend/tests/__pycache__/
References/
backend/api-log.txt
backend\main_v2.py
backend\main_original.py
backend/models/__pycache__/__init__.cpython-313.pyc
backend/models/__pycache__/schemas.cpython-313.pyc
backend/services/__pycache__/__init__.cpython-313.pyc
backend/services/__pycache__/
backend/main_v2.py
backend/main_original.py
backend/utils/__pycache__/
backend/test_system.py
